@tailwind base;
@tailwind components;
@tailwind utilities;


.screen-bar {

  max-width: 100%;
  margin: 0, auto;
  background: linear-gradient(45deg, #040213, #000000, #000000, #1c0672);
  overflow-x: hidden;

}

.screen-bar1 {
  /* margin-top: 100px; */
  padding-bottom: 33px;

  
}
.sk3{
  margin-left: -150px;
}

.sk {

  color: #69edf0;
  margin-left: -32px;


  /** TEXT GRADIENT */
  color: #cdfaed;
  background-image: -webkit-linear-gradient(5deg, #cdfaed 0%, #b327a7 33%, #f0eb65 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;







  text-align: center;
  


  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;







  font-size: 40px;

}
.main-div{
  margin-right: 170px;
}
.btn1{
  /* margin-left: -100px; */
  margin-left: -177px;
}

.Text-anim {
  width: 550px;
  height: 450px;
  margin-right: -100px;

}

.text1 {
  font-size: 16px;
  color: #69edf0;


  /** TEXT GRADIENT */
  color: #cdfaed;
  background-image: -webkit-linear-gradient(5deg, #cdfaed 0%, #b327a7 33%, #f0eb65 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-left: 172px;
  position: relative;
  left: -100px ;






  
  


  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;

  
}

.font1 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-top: 80px;


  /** TEXT GRADIENT */
  color: #b066ea;
  background-image: -webkit-linear-gradient(89deg, #b066ea 0%, #e2a861 33%, #0dd3a6 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;




}
.background {
  max-width: 800px;
 
 
  min-height: 100vh;
  
  font-size: 12px;
}

.Acco1 {


  /** TEXT GRADIENT */
  color: #a6febd;
  background-image: -webkit-linear-gradient(0deg, #a6febd 0%, #cb22c8 33%, #1fb1e7 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;


  font-size: 50px;
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;


}

.screen-bar3 {
  margin-top: 95px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body,
button,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}



.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }

}


@media screen and (max-width: 600px) {


  .btn1{
    
    margin-left: -17px;
  }
  
  .sd-div{
    flex-wrap: wrap;

  }
  .Text-anim {
    width: 360px;
    height: 450px;
    margin-right: -100px;
    margin-left:-140px ;
    padding-bottom: 177px;
  
  }
  .text1{
   text-align: center;
  }

  .main-div {
    margin-right: -25px;
}
  
  .sk{
    text-align: center;
    margin-top: 53px;
    margin-left: -17px 
  }
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }

  .Acco2 {
    margin-top: 150px;
  }
.Acco1{
  font-size: 30px;
}
  

  
 
    
 
 
  
  



}


.img3{
  position: relative;
    top: 5px;
    left: 20px 
}
.icon{
margin-top: 30px;
}

nav{
  background: linear-gradient(45deg, #040213, #000000, #000000, #1c0672);

  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
  margin-top: -55px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  .background {
    display: flex;
    min-height: 100vh;
  
    font-size: 12px;
  }
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 6px;
  
  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    z-index: 10;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  
  /* background-size: cover;
  height: calc(100vh - 80px); */
}

.Acco2{
  margin-top: 200px;
}
